html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: black;
}

.p-small{
  text-align: right;
}

#video, #chat{
  width: 100%;
  height: 45vh;
}

iframe{
  border-radius: 5px;
}

.list-group a:visited{
  background-color: #181818;
}

.list-group a:hover{
  background-color: #202020;
}

.list-group-item{
  background-color: #181818;
}

h5, small{
  color: white;
}